* {
  font-family: "Poppins", sans-serif;
}

.nav {
  height: 60px;
}

.container-fluid {
  margin-top: 100px;
  padding-bottom: 40px;
}

.card {
  width: 300px;
  height: 360px;
}

.card-img-top {
  width: 80px;
  height: 80px;
  margin: auto;
}

.card-body ul {
  height: 100px;
}

.card-body p {
  margin-top: 48px;
}

.project img {
  width: 294px;
}

.project p {
  font-size: 14px;
  height: 120px;
  margin-top: 0;
}

.project a {
  display: inline-block;
  text-decoration: none;
}

.repository {
  margin-left: 134px;
}

.repository img {
  text-align: right;
  width: 32px;
  height: 32px;
}
